body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 50px;
}
header {
    display: inline-flex;
}
nav {
    margin-bottom: 8px;
    display: inline-flex;
    float: right;
}
.main-section {
    text-align: center;
    justify-content: center;
    margin: auto;
}
.btn {
    margin-left: 10px;
}
.sep {
    text-align: center;
    margin: 0px;
    width: 100%;
}

.main {
    justify-content: center;
    align-items: center;
    display: flex;
}
main-content {
    min-height: 100vh;
}
label, input, div {
    display: table-cell;
}
#select-1 {
    display: none;
}
#select-2 {
    display: none;
}
#select-3 {
    display: none;
}
header {
    height:50px;
}
.buttons {
    float: right;
}

.footer {
    display: none;
    position: relative;
    left: 0;
    bottom: -50px;
    width: 100%;
    color: #464646;
    text-align: center;
}